<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title%}
    <title>Django Blog|{{title}}</title>
    {%else%}
    <title>Django blog</title>
    {%endif%}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'main.css'%}">

  </head>
  <body>
    <header class="nav navbar navbar-dark">
      <a href="{% url 'blog_home'%}"><h1 class="">Django Blog</h1></a>
      <a href="{% url 'blog_new'%}"><span class="badge bg-info">+</span>New Blog Post</a>
    </header>
    <div class="container">
      {% block body%}
      {% endblock body%}
    </div>

  </body>
</html>
