<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title%}
    <title>Django Blog|{{title}}</title>
    {%else%}
    <title>Django blog</title>
    {%endif%}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'main.css'%}">

  </head>
  <body>
    <header>
      <a href="{% url 'blog_home'%}"><h1>Django Blog</h1></a>
      <a href="{% url 'blog_new'%}"><small>New Blog Post</small></a>
    </header>
    {% block body%}
    {% endblock body%}

  </body>
</html>
